html {
  font-size: 16px;
}

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: black;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  flex-flow: row wrap;
}

/***** Header *****/

header {
  color: #77a466;
  text-transform: uppercase;
  padding: 1.6em 0;
  font-weight: bold;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

header h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  border-bottom: 3px solid #77a466;
  padding-bottom: 0.75em;
}

header h1 span {
  color: black;
}

nav {
  text-align: center;
}

nav ul {
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  font-size: 1em;
  list-style: none;
  text-decoration: none;
  padding-top: 1em;
}

/***** Top Section *****/

#top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

img {
  border-top: 3px solid #77a466;
  border-bottom: 3px solid #77a466;
  width: 100%;
}

#top h2 {
  margin-top: 2em;
  font-size: 1.15em;
  font-weight: bold;
  line-height: 1.5em;
  color: #77a466;
  text-transform: uppercase;
}

#top p {
  margin-top: 1.8em;
  font-size: 1em;
  line-height: 1.5em;
}

/***** Bottom Section *****/

#bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#bottom h3 {
  font-size: 0.75em;
  line-height: 1.5em;
  text-transform: uppercase;
  margin: 0;
}

#specials ul {
  padding-left: 0;
}

#specials ul li {
  list-style: none;
  padding: 0.6em 0;
}

#specials ul li a {
  text-decoration: none;
  font-size: 1em;
  color: #77a466;
  line-height: 1.15em;
}

#reviews,
#specials,
#contact {
  border-top: 1px solid #dedbdc;
  padding-top: 1.5em;
  width: 100%;
}

#reviews p {
  font-size: 1em;
  line-height: 1.25em;
  margin: 0px;
  padding: 1.25em 0;
}

#contact ul {
  padding-left: 1.8em;
}

#contact ul li {
  list-style: none;
  font-size: 1em;
  line-height: 1.5em;
}

/***** Footer *****/

footer {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

footer p {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
}

footer p span {
  font-family: "Galada";
  color: #77a466;
}

/***** Media Queries *****/

@media all and (min-width: 768px) {
  header {
    width: 100%;
  }

  header nav {
    width: 100%;
  }

  header nav ul {
    flex-flow: row wrap;
    justify-content: space-around;
  }

  #bottom {
    width: 100%;
    align-items: baseline;
    border-top: 1px solid #dedbdc;
  }

  #specials,
  #reviews,
  #contact {
    width: 30%;
    border-top: none;
  }

  #reviews {
    border-left: 1px solid #dedbdc;
    border-right: 1px solid #dedbdc;
    padding-left: 1.5em;
    padding-right: 1em;
  }

  #contact h3 {
    padding-left: 1.8em;
  }

  footer {
    margin-top: 2em;
  }
}

@media all and (min-width: 1200px) {
  header {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  header h1 {
    border: none;
    margin: 0;
    padding: 0;
  }

  header nav {
    width: 50%;
  }

  header nav ul li a {
    padding: 0;
  }
}
