html {
  font-size: 16px;
}

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: black;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/***** Header *****/

header {
  color: #77a466;
  text-transform: uppercase;
  padding: 25px 10px 25px 10px;
  font-weight: bold;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 2em;
}

header h1 span {
  color: black;
}

nav {
  padding-top: 1em;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-size: 1em;
  padding-left: 1.25em;
  list-style: none;
  text-decoration: none;
}

/***** Top Section *****/

#top {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-top: 3px solid #77a466;
  border-bottom: 3px solid #77a466;
}

#top h2 {
  margin-top: 33px;
  font-size: 1.15em;
  font-weight: bold;
  line-height: 1.5em;
  color: #77a466;
  text-transform: uppercase;
}

#top p {
  margin-top: 29px;
  font-size: 16px;
  line-height: 25px;
}

/***** Bottom Section *****/

#bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottom .full-width {
  border-top: 1px solid #dedbdc;
  border-bottom: 1px solid #dedbdc;
}

#specials,
#reviews {
  width: 399px;
}

#reviews h3,
#contact h3 {
  padding-left: 29px;
}

#bottom h3 {
  font-size: 12px;
  line-height: 25px;
  text-transform: uppercase;
  padding-top: 29px;
  margin: 0;
}

#specials ul {
  padding-left: 0;
}

#specials ul li {
  list-style: none;
  padding: 10px 0px 10px 0px;
}

#specials ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #77a466;
  line-height: 18px;
}

#reviews {
  border-left: 1px solid #dedbdc;
  border-right: 1px solid #dedbdc;
}

#reviews p {
  font-size: 16px;
  line-height: 21px;
  padding: 25px 43px 25px 29px;
  margin: 0px;
}

#contact ul {
  padding-left: 29px;
}

#contact ul li {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
}

/***** Footer *****/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  padding: 25px 400px 33px 400px;
  text-align: center;
}

footer p span {
  font-family: "Galada";
  color: #77a466;
}
