/***** Base Styles *****/
body {
  background-color: #e8e8e8;
  font-size: 20px;
  color: black;
}

#vision-board {
  width: 1200px;
  height: 850px;
  margin: auto;
  overflow: auto;
  background-image: url("../img/background.png");
  font-family: "Montserrat", sans-serif;
}

.block {
  float: left;
  width: 400px;
  box-sizing: border-box;
}

p span {
  font-size: 38px;
}

h1 {
  font-size: 30px;
}

h2 {
  margin: 0;
  font-size: 20px;
  background-color: #fff44f;
  display: inline;
  padding: 6px 12px 6px 12px;
}

/***** Small blocks *****/

.small-block {
  height: 210px;
  padding-top: 30px;
}
/***** Large blocks *****/

.large-block {
  height: 430px;
  padding-top: 60px;
}
.left-text {
  text-align: left;
  padding-left: 45px;
}

.centered {
  text-align: center;
}

.right-text {
  text-align: right;
  padding-right: 45px;
}

.light-bg {
  background: white;
}

.dark-bg {
  background: #3b3b3b;
  color: white;
}

.title {
  font-family: "Permanent Marker", sans-serif;
}
